<div id="header">
  <div class="top">
    <!-- Logo -->
    <div id="logo">
      <span class="image avatar48"><img src="../static/frontEnd/menu/css/images/shortsboost.PNG" alt="" /></span>
      <h1 id="title">Jane Doe</h1>
      <p>Hyperspace Engineer</p>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="/front/index" id="videosplit-link"><span class="icon solid fa-home">VideoSplit/Prompt</span></a></li>
        <li><a href="/front/captioning" id="captioning-link"><span class="icon solid fa-th">Captioning</span></a></li>
        <li><a href="/front/shortsinven" id="shorts-link"><span class="icon solid fa-user">Shorts result</span></a></li>
        <li><a href="/contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
      </ul>
    </nav>
  </div>
</div>
